* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  background-color: gray;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  line-height: 1.5;
}
#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.header {
  position: sticky;
  top: 0;
}

.search-form {
  height: 72px;
  background: #000;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  box-shadow: 0 -10px 11px 20px #000;
}

.input {
  width: 250px;
}

.gallery {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  display: flex;
}

.photo-card {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px rgb(0 0 0 / 75%);
}

.info {
  display: flex;
}

.info-item {
  flex-flow: column wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.form__button:before {
  content: "";
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(/src/img/search.png);
  background-size: contain;
  display: inline-block;
}

.load-more {
  height: 35px;
  border: none;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 15px;
  font-size: 22px;
  display: flex;
  cursor: pointer;
}

.hide {
  display: none;
}